{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-center text-danger mb-5">
        Flower Recommendation
    </h2>

    <form action="/recommend_result" method="POST">

        <div class="row justify-content-center">

            <div class="col-md-4">

                <label>Occasion</label>

                <select name="occasion" class="form-control mb-3" required>

                    <option value="">Select Occasion</option>
                    <option value="birthday">Birthday</option>
                    <option value="anniversary">Anniversary</option>
                    <option value="sorry">Sorry</option>
                    <option value="congratulations">Congratulations</option>
                    <option value="bestwishes">Get Well Soon</option>
                    <option value="wedding">Wedding</option>

                </select>

            </div>


            <div class="col-md-4">

                <label>Budget</label>

                <select name="budget" class="form-control mb-3" required>

                    <option value="">Select Budget</option>
                    <option value="500">Under ₹500</option>
                    <option value="1000">Under ₹1000</option>
                    <option value="2000">Under ₹2000</option>

                </select>

            </div>

        </div>

        <div class="text-center mt-3">

            <button class="btn btn-danger">
                Get Recommendations
            </button>

        </div>

    </form>

</div>

{% endblock %}